.title{
    margin-left: 150px;
}
.text-center{
    margin-left: 50px;
    
}
.form-control{
    margin-left: 60%;
}
.boton{
    margin-left: 90px;
}
.nombre{
    margin-left: 130px;
}
.alias{
    margin-left: 220px;
}
.rut{
    margin-left: 222px;
}
.email{
    margin-left: 215px;
}
.region{
    margin-left: 205px;
}
.comuna{
    margin-left: 198px;
}
.candidato{
    margin-left: 187px;
}

